.MMM-text-clock {
  display: flex;
  align-items: center;
  justify-content: center;
}

.letters {
  text-transform: uppercase;
}

.wordlayout.lang_ar {
  width: 15em;
  height: 15em;
}

.wordrow {
  display: flex;
  justify-content: space-between;
}